body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 20px;
}
/* header {
    border: 2px;
    border: solid, rgb(244, 244, 247);
    height: 100px;
    background-color: #f0f0f0;
    padding: 1vw 0;
} */
button {
    position: absolute;
    float: right;
    font-size: 16px;
    cursor: pointer;
}  
button:hover {
    background-color: #ddd;
}

 /* h1 {
    color: #c73f3f;
}  */

#startGame {
    /*display: none;*/
    width: 40vw;
    height: 20vw;
    top: 110px;
    background-color: rgb(252, 238, 220);
    position: absolute;
    left: 30vw;
    bottom: 190px;
    margin-top: 100px;
    /*margin-left: -150px;*/
    padding-top: 60px;
    /*padding-bottom: 100px;*/
    text-align: center;
    border-radius: 5px;
    color: rgb(235, 24, 24);
    font-size: 1.25em;
    z-index: -1;
}
.logo {
    width: 28vw;
    height: 8vw;
    position: absolute;
    right: 450px;
}

.gameSection {
    display: none;
    justify-content: center;
    width: 100%;
    margin: 5vw 0;
  }
  
.flex-container {
    position: flex ;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    width: calc(100% -20px);
    padding: 0 10px;
    display: flex;
    flex-flow: column;
    border-collapse: collapse;
  
  }
  
.row1 {
    margin: 0 auto;
    display: flex;
    align-content: flex-start;
  }
  
.row1 .flex-box{
    background-color: #FF614C;
  
  }
  
.column {
    display: flex;
    justify-content: space-between;
    width: 100%;  
}
  
.row2 {
    display: flex;
    flex-direction: column;
    /*order: 1;*/
}
  
.row3 {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    /*order: 1;*/
}
.row4 {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}
  
.row4 .flex-box{
    margin: 0 auto;
    display: flex;
    flex-flow: row-reverse nowrap;
    background-color: #1594FD;
}
  
.circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80px;
    height: 80px;
    border-radius: 80%;
}
  
.flex-circle {
    border: 1px solid black;
    border-radius: 50%;
    width   : 5vw;
    height  : 5vw;
}
  
.small {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.circle > :nth-child(2) {
    border: none !important;
    width: 12vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#circleOne {
    background-color: #FF614C;
}

#circleTwo {
    background-color: #1594FD;
}

#circleThree {
    background-color: rgb(50, 214, 50);
}

#circleFour {
    background-color: #defd15;
}
.piece {
    border: 1px solid black;
    border-radius: 80%;
    width   : 2vw;
    height  : 2vw;
}
  
  /*
  #circleOne > :first-child {
    position: absolute;
    background-color: red;
    display: none;
  }*/
  
#mainPiece1 {
    border: 1px solid black;
    border-radius: 80%;
    width   : 2vw;
    height  : 2vw;
    position: absolute;
    background-color: #FF2407;
    /*display: none;*/
}
  
  
#mainPiece2 {
    border: 1px solid black;
    border-radius: 80%;
    width   : 2vw;
    height  : 2vw;
    position: absolute;
    background-color: blue;
    /*display: none;*/
}
#mainPiece3 {
    border: 1px solid black;
    border-radius: 80%;
    width   : 2vw;
    height  : 2vw;
    position: absolute;
    background-color: #27ce6a;
    /*display: none;*/
}
.greenPiece {
    background-color: #138e2c;
    position: absolute;
    /*left: 11.25vw;*/
    /*left: 0vw;*/
    visibility: hidden;
}
.bluePiece {
    background-color: blue;
    position: absolute;
    /*right: 11.25vw;*/
    visibility: hidden;
  
}

.redPiece {
    background-color: #FF2407;
    position: absolute;
    /* left: 11.25vw;
    left: 0vw; */
    visibility: hidden;
}
#mainPiece4 {
    border: 1px solid black;
    border-radius: 80%;
    width   : 2vw;
    height  : 2vw;
    position: absolute;
    background-color: #e6f93b;
    /*display: none;*/
}
.yellowPiece {
    background-color: rgb(222, 249, 11);
    position: absolute;
    /*right: 11.25vw;*/
    visibility: hidden;
} 

.dice {
    /*border: 1px solid black;*/
    border-radius: 900%;
    width   : 50vw;
    height  : 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
  
.dice img {
    src: images; /*all images are in this file. unsure on how to get them to present in the stack*/
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
    
.flex-box {
    width   : 8vw;
    height  : 8vw;
    border  : 1px solid black;
    color   : black;
    display : flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 238, 220);
}