
h1 {
    text-align: center;
    text-shadow:2px 2px 1px rgba(34, 34, 34, 0.527)
}

body {
    background-color:rgb(252, 238, 220)
}

h2 {
    text-align: center;
}

#gameRules {
    border-radius: 10px;
    border-top: solid black;
    border-right: solid rgba(34, 34, 34, 0.527);
    border-bottom: solid black;
}

#cardRules {
    border-radius: 10px;
    border-top: solid black;
    border-bottom: solid black;
}